<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE hibernate-configuration PUBLIC   
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
      
    <session-factory>  
        <!-- Configuração da conexão com o banco de dados MySQL e dialeto -->  
      
        <property name="connection.username">root</property>  
        <property name="connection.password">root</property>  
        <property name="connection.url">jdbc:mysql://localhost/bugsys</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>  
        <property name="show_sql">true</property>  
        <property name="format_sql">true</property>
        
        <!-- Mapeamento das entidades gerenciadas pelo hibernate -->
        
        <mapping class="br.com.bugsys.user.User" />
        <mapping class="br.com.bugsys.employeeType.EmployeeType" />
        <mapping class="br.com.bugsys.client.Client" />
        <mapping class="br.com.bugsys.project.Project" />
        <mapping class="br.com.bugsys.usecase.UseCase" />
        <mapping class="br.com.bugsys.userproject.UserProject" />
        <mapping class="br.com.bugsys.step.Step" />
        <mapping class="br.com.bugsys.workflow.Workflow" />
        <mapping class="br.com.bugsys.event.Event" />
        <mapping class="br.com.bugsys.eventStatus.Status" />
        <mapping class="br.com.bugsys.descriptionEvent.DescriptionEvent" />
          
    </session-factory>  
      
</hibernate-configuration>  